django==4.2.27
PyMySQL==1.1.1
whitenoise==6.11.0
gunicorn==23.0.0
django-environ==0.13.0
google-generativeai
pillow
razorpay
pandas
numpy
pydantic
requests
markdown
python-dateutil
pytz
sqlparse
tzdata
urllib3
websockets
Werkzeug
zipp
